# Demo code

## 1. Creating and Deleting a Database - CREATE DATABASE and DROP DATABASE
mysql> CREATE DATABASE southwind;

Query OK, 1 row affected (0.03 sec)

mysql> DROP DATABASE southwind;

Query OK, 0 rows affected (0.11 sec)

mysql> CREATE DATABASE IF NOT EXISTS southwind;

Query OK, 1 row affected (0.01 sec)

mysql> DROP DATABASE IF EXISTS southwind;

Query OK, 0 rows affected (0.00 sec)

##2. Creating and Deleting a Table - CREATE TABLE and DROP TABLE
mysql> CREATE TABLE IF NOT EXISTS products (

productID    INT UNSIGNED  NOT NULL AUTO_INCREMENT,

 productCode  CHAR(3)       NOT NULL DEFAULT '',

name         VARCHAR(30)   NOT NULL DEFAULT '',

quantity     INT UNSIGNED  NOT NULL DEFAULT 0,

price        DECIMAL(7,2)  NOT NULL DEFAULT 99999.99,

PRIMARY KEY  (productID)

 );

Query OK, 0 rows affected (0.08 sec)

## 3. Inserting Rows - INSERT INTO

 -- Insert a row with all the column values

mysql> INSERT INTO products VALUES (1001, 'PEN', 'Pen Red', 5000, 1.23);

Query OK, 1 row affected (0.04 sec)

-- Insert multiple rows in one command

-- Inserting NULL to the auto_increment column results in max_value + 1

mysql> INSERT INTO products VALUES

 (NULL, 'PEN', 'Pen Blue',  8000, 1.25),

 (NULL, 'PEN', 'Pen Black', 2000, 1.25);

Query OK, 2 rows affected (0.03 sec)

Records: 2  Duplicates: 0  Warnings: 0

-- Insert value to selected columns

-- Missing value for the auto_increment column also results in max_value + 1

mysql> INSERT INTO products (productCode, name, quantity, price) VALUES

('PEC', 'Pencil 2B', 10000, 0.48),

 ('PEC', 'Pencil 2H', 8000, 0.49);

Query OK, 2 row affected (0.03 sec)

-- Missing columns get their default values

mysql> INSERT INTO products (productCode, name) VALUES ('PEC', 'Pencil HB');

Query OK, 1 row affected (0.04 sec)

##4. Querying the Database - SELECT

###SELECT without Table

 mysql> SELECT 1+1;

mysql> SELECT NOW();

###Comparison Operators

 mysql> SELECT name, price FROM products WHERE price < 1.0;

mysql> SELECT name, quantity FROM products WHERE quantity <= 2000;

###String Pattern Matching - LIKE and NOT LIKE

 mysql> SELECT name, price FROM products WHERE name LIKE 'PENCIL%';

mysql> SELECT name, price FROM products WHERE name LIKE 'P__ %';

###Logical Operators - AND, OR, NOT, XOR

mysql> SELECT * FROM products WHERE quantity >= 5000 AND name LIKE 'Pen %';

mysql> SELECT * FROM products WHERE NOT (quantity >= 5000 AND name LIKE 'Pen %');

###IN, NOT IN

mysql> SELECT * FROM products WHERE name IN ('Pen Red', 'Pen Black');

###BETWEEN, NOT BETWEEN

mysql> SELECT * FROM products

WHERE (price BETWEEN 1.0 AND 2.0) AND (quantity BETWEEN 1000 AND 2000);

###ORDER BY Clause

mysql> SELECT * FROM products WHERE name LIKE 'Pen %' ORDER BY price DESC;

##5. Producing Summary Reports

###GROUP BY Clause

 mysql> SELECT * FROM products ORDER BY productCode, productID;

mysql> SELECT productCode, COUNT(*) FROM products GROUP BY productCode;

###HAVING clause

 mysql> SELECT productCode AS `Product Code`,COUNT(*) AS `Count`,CAST(AVG(price) AS DECIMAL(7,2)) AS `Average` FROM products GROUP BY productCode HAVING Count >=3;

##6. Modifying Data - UPDATE

 mysql> UPDATE products SET price = price * 1.1;

mysql> UPDATE products SET quantity = quantity - 100 WHERE name = 'Pen Red';

 mysql> UPDATE products SET quantity = quantity + 50, price = 1.23 WHERE name = 'Pen Red';

##7. More Than One Tables

###7.1  One-To-Many Relationship
 ####SELECT with JOIN

mysql> SELECT products.name, price, suppliers.name FROM products JOIN suppliers ON products.supplierID = suppliers.supplierID WHERE price < 0.6;

 mysql> SELECT products.name, price, suppliers.name FROM products, suppliers  WHERE products.supplierID = suppliers.supplierID AND price < 0.6;
 ####ALTER TABLE

mysql> ALTER TABLE products ADD COLUMN supplierID INT UNSIGNED NOT NULL;

Query OK, 4 rows affected (0.13 sec)

Records: 4  Duplicates: 0  Warnings: 0

 mysql> ALTER TABLE products ADD FOREIGN KEY (supplierID) REFERENCES suppliers (supplierID);

###7.2 Many-To-Many Relationship

mysql> CREATE TABLE products_suppliers (

productID   INT UNSIGNED  NOT NULL,

supplierID  INT UNSIGNED  NOT NULL,

 -- Same data types as the parent tables

 PRIMARY KEY (productID, supplierID),

 -- uniqueness

FOREIGN KEY (productID)  REFERENCES products  (productID),

 FOREIGN KEY (supplierID) REFERENCES suppliers (supplierID)

 );

###7.3 One-to-one Relationship

mysql> CREATE TABLE product_details (

 productID  INT UNSIGNED   NOT NULL,

 -- same data type as the parent table

comment    TEXT  NULL,

 -- up to 64KB

PRIMARY KEY (productID),

FOREIGN KEY (productID) REFERENCES products (productID)

##8. View

-- Define a VIEW called supplier_view from products, suppliers and products_suppliers tables

mysql> CREATE VIEW supplier_view

AS

SELECT suppliers.name as `Supplier Name`, products.name as `Product Name`

FROM products 

 JOIN suppliers ON products.productID = products_suppliers.productID

JOIN products_suppliers ON suppliers.supplierID = products_suppliers.supplierID;
 );